@charset "UTF-8";
#top{
	margin-top: 50px;
	width: 900px;
	height: 100px;
}
#title{
	position: absolute;
	left: 25%;
	width: 200px;
	height: 100px;
	background-image: url("images/Title.png");
	border-radius: 10px 10px 10px 10px;
}
#search{
	position: absolute;
	left: 35.5%;
	width: 500px;
	height: 100px;
}
#searchbox{
	margin-top: 40px;
	margin-left: 20px;
	padding-bottom: 5px;
	border: 2px solid black;
}
#login{
	position: absolute;
	left: 61.8%;
	width: 200px;
	height: 100px;	
}
#loginbutton{
	margin-top: 40px;
}
#menu{
	position: absolute;
	left: 25%;
	width: 900px;
	height:70px;
}
#menu li{
	list-style: none;
	float: left;
	width: 150px;
	height: 50px;
	font-weight: bold;
	color: black;
	padding-top: 30px;
}
.hr{
	margin-top: 70px;
}
#middle{
	position: absolute;
	left: 25%;
	width: 900px;
	height: 400px;	
}
#album{
	position: absolute;
	background: salmon;
	width: 700px;
	height: 400px;
}
#chart{
	position: absolute;
	left: 77.7%;
	background: yellow;
	width: 200px;
	height: 400px;		
}
#bottom{
	margin-top: 400px;
	position: absolute;
	left: 25%;
	width: 900px;
	height: 300px;
}
#notice{
	position: absolute;
	width: 450px;
	height: 300px;
	background: gray;
}
#news{
	position: absolute;
	left: 50%;
	width: 450px;
	height: 300px;
	background: orange;
}
#under{
	margin-top: 700px;
	position: absolute;
	left: 25%;
	background: purple;
	width: 900px;
	height: 100px;
}